# eclipse
eclipse/.recommenders
bin
*.launch
.settings
.classpath
.project
.recommenders
.mylyn
*.lock
*.log
*.ini

org.eclipse.*
!org.eclipse.core.resources

.history
.root
.safetable
*.snap


!.location

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
run
doc/

.DS_STORE
